<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015-present, Parse, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.jooba" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.parse.jooba.StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/only_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>


        <activity
            android:name="com.parse.jooba.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name="com.parse.jooba.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.parse.jooba.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.jooba.MainActivity"  />
        </activity>

        <activity
            android:name="com.parse.jooba.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.parse.jooba.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.jooba.MainActivity"  />
        </activity>

        <activity
            android:name="com.parse.jooba.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <service android:name="com.parse.jooba.LaunchNotificationService" />
        <receiver android:name="com.parse.jooba.LaunchNotificationBroadcast">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"></action>
                <action android:name="com.tutorialspoint.MY_SPECIAL_INTENT">
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
